body{
	margin: 0;
	background: black;
	color: #999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#container{
	margin: auto auto;
	text-align: center;
}

#instructions{
	position: absolute;
	display: block;
	bottom: 1%; 
	width: 100%;
	height: 10%;
}
svg{
	overflow: hidden;
	display: block;
	height: 90%;
	position: absolute;
	top: 0%;
	width: 100%;
	min-height: 500px;
	min-width: 500px;
	font: bold 14px arial;
	cursor: url('./img/cursor.png'), default;
	cursor: none;
	fill: #ddd;
}

#screenWelcome text {
	font-size: 20px;
}
#screenWelcome #title1{
	font: bold 130px arial;
}
#screenWelcome #title2{
	font: bold 73px arial;
	fill:  #0af;
}
text#more{
	font: 28px 'Courier New', Courier, monospace;
}
.quote{
	font: bold 12px arial;
	fill: #000;
}
.life, .player, .shield, .ship{
	fill: #0af;
}
.ufo .a{
	fill: #8c19ff;
}
.ufo .b{
	fill: #1ee861;
}
.ufo .c{
	fill: #ffe14d;
}

.closed .anim1, .open .anim2{
	display: none;
}
.open .anim1, .closed .anim2{
	display: inherit;
}



















