@charset "UTF-8";
@import "./base.scss";
@import "./_parts/_fn.scss";
@import "./_parts/_settings.scss";


.fl{float: left; }

.fr{float: right; }

.cf:after, .cf:before{
	content: '';
display: table; }

.touch_highlight {
background: #f1f1f1; }

a {
	text-decoration: none;
color: #333; }