@charset "UTF-8";

.sku-wrap{
	border-top: 1px dashed #dedede;
	border-bottom: 1px dashed #dedede;
	padding: 10px 0;
	.sku-tr{
		display: table;
		color: #666;
		width: 100%;
	}
	.sku-cell{
		display: table-cell;
		font-size: 1.4rem;
		width: 50%;
		text-indent: 5%;
		line-height: 30px;
	}
}

.recommend-text{
	padding: 15px;
	border-bottom: 1px dashed #dedede;
	h3{
		font-size: 1.6rem;
		color: #333;
	}
	p{
		font-size: 1.4rem;
		color: #333;
		margin-top: 10px;
	}
}



