@charset "UTF-8";

.join-info{margin-bottom: 50px;
	.join-title{font-size: 1.5rem;color: #666;line-height: 50px;background-color: #f6f6f6;padding: 0 15px;
		span{font-size:1.3rem;padding-left: 10%;}
	}
}