@charset "UTF-8";

.imgdetails-wrap{font-size: 1.5rem;color: #666;
	
	.wifi-view{margin-right: 20px;color: #333;}
	.h20{height: 10px;background-color: #f6f6f6;}
	.Tappable-active{background-color:#f7f6f1;}
}


