@charset "UTF-8";

$cfff:#fff;
$borderColor:#e1e1e1;
$koreaColor:#f85b90;
$c333:#333333;
$c999:#999;
$c666:#666;
$cfe:#ff5e00;
$c00:#c00;
$ccc:#ccc;
$f00:#f00;
$yahei:'microsoft yahei';
$white:#ffffff;
$black:#000000;
$lightGreen:#2BE238;
$bg:#eeeeee;
$orange:#ff5e00;
$borderColor:#e1e1e1;
