@charset "UTF-8";

.recommend-wrap{

	h2{
		font-size: 1.6rem;
		color: #ff5e00;
		line-height: 50px;
		background: #f3f4f6 url(./img/recommend.png) 10px 12px no-repeat;
		background-size: 20px;
		text-indent: 36px;
	}
	.goods-wrap{
		width: 50%;
		padding: 10px;
		border-bottom: 1px solid #e7e7e7;
		border-right: 1px solid #e7e7e7;
	}
	.goods-wrap:nth-child(even){
		border-right-color: transparent;
	}
	.img-wrap{
		position: relative;
		width: 100%;
		padding-top: 100%;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
	.goods-title{
		color: #666;
		font-size: 1.3rem;
		height: 36px;
		overflow: hidden;
	}
	.shop-price{
		margin-top: 4px;
		.price{
			color: #ff3a2f;
			font-size: 1.4rem;
		}
		.shop{
			float: right;
			color: #333;
		}
	}
	.content-h{
		width: 100%;
		height: 20px;
		background-color: #f3f4f6;
		margin-bottom: 50px;
	}
}


