@charset "UTF-8";
$red:#ff3a2f;
$b333:#333;
$ray999:#999;

.title-wrap{
	padding: 15px;
	.title-name{
		font-size: 1.5rem;
		color: #333;
		span{
			color: #ff3a2f;
			font-size: 1.3rem;
			padding-left: 10px;
		}
	}
	.title-price{
		color: #ff3a2f;
		font-size: 1.5rem;
		margin-top: 6px;
		span:nth-child(2){
			font-size: 2rem;
			font-weight: bold;
		}
		s{
			color: #999;
			padding-left: 10px;
		}
	}
}
.panic-buy{
	margin-bottom: 5px;
	.limit-text{
		padding: 3px 6px;
	    line-height: 20px;
	    background-color: $red;
	    color: #fff;
	    font-size: 1.3rem;
	    border-radius: 3px;
	}
	.panicing{
		font-size: 1.4rem;
	    line-height: 20px;
	    padding: 0 16px;
	    color: $red;
	}
	.limit-time{
		display: inline-block;
		color: $b333;
		span{
			font-size: 1.4rem;
		    border: 1px solid #999;
		    padding: 2px 5px;
		    border-radius: 3px;
		    margin: 0 2px;
		}
	}
}






