@charset "UTF-8";

.imgdetails-wrap{font-size: 1.5rem;color: #666;
	.imgdetails{padding: 15px;position: relative;}
	.imgdetails:after{content: ''; background: url('../../../../img/trigle.png') 0 0 no-repeat;background-size: auto 100%;position: absolute;bottom: 14px;right: 15px;width: 12px; height: 18px;}
	.wifi-view{margin-right: 20px;color: #333;}
	.h20{height: 10px;background-color: #f6f6f6;}
}


