@charset "UTF-8";
#winner{height: 50px;}
.winning-info{line-height: 50px;font-size: 1.6rem;color: #666;padding-left: 50px;background: url('../../../../img/audio.png') 18px 12px no-repeat;background-size: 24px;}
