#clearAllHistory {
    margin-left: 36px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #E74C3C;
    cursor: pointer;
    font-size: 12px;
}
#searchhistory {
    margin: 15px auto 0;
    display: block;
    width: 300px;
}
#historyContain {
	box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.historyItem {
    width: 300px;
    height: 36px;
    margin-left: 24px;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
    color: #848484;
	cursor: pointer;
}
.historyItem:hover{
	color: #d610db;
	background-color: rgba(245, 240,246, 1);
}
.historyItem:hover .historyDelete{
	display: block;

}
.historyIcon {
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 5px;
}

.historyName {
    float: left;
    width: 230px;
    margin-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    cursor: pointer;
    padding-top: 15px;
    height: 30px;
    margin-top: -12px;
}
.historyDelete {
    width: 30px;
    height: 30px;
    float: right;
    background-image: url(../../../../img/remove.png);
    background-size: 100%;
    background-position: center;
    border-radius: 30px;
    margin-top: -20px;
    cursor: pointer;
    display: none;
    background-color: transparent;
    background-repeat: no-repeat;
}
.historyDelete:hover{
	background-color: rgba(255,255,255, .6);
}





