#cleardone,.todotype,.todotype label{cursor:pointer}.toTop:hover,.todoDelete:hover{-webkit-filter:brightness(1.05)}#todosOut{width:100%;height:100%;box-sizing:border-box;padding-top:115px;overflow-y:hidden;overflow-x:hidden}.todoInput{display:block;width:300px!important;height:35px!important;margin:20px auto 0!important;-webkit-transform:translate(3px);border-radius:35px!important}.todoLabel{-webkit-transform:translate(5px);min-height:28px}#todoType{height:40px;margin-top:15px}.todotype{float:left;width:auto;margin-left:83px;font-size:20px;color:#95A5A6}#notdone{margin-left:92px}#doneContent{display:none}.checkdone{color:#ccc;text-decoration:line-through}#cleardone,#cleardone:active{color:#2ECC71}.checktodo{text-decoration:none}@-webkit-keyframes allFadeIn{0%{opacity:0}100%{opacity:1}}.todoFadeIn{-webkit-animation:allFadeIn .2s ease}#todoTop{position:absolute;width:344px;top:75px;left:0}#cleardone{font-size:14px;margin-left:26px;display:none}.toTop,.todoDelete{webkit-transition:all .2s ease;width:18px;height:18px;position:absolute;top:4px;right:8px;background-size:100%;cursor:default;display:none}#cleardone:hover{color:#27AE60}.toTop{padding-left:3px;padding-right:3px;background-image:url(../../../../img/toTop.png);-webkit-transform:scale(1.1)}.toTop:hover{-webkit-transform:scale(1.5)}.todoDelete{background-image:url(../../../../img/delete.png);-webkit-transform:scale(1.1)}.todoDelete:hover{-webkit-transform:scale(1.5)}.labelOut{position:relative;margin-top:4px;margin-bottom:16px;outline:transparent solid 1px;min-height:28px}#contentOut{height:100%;width:100%;overflow-y:scroll}
input[type=search] {
	border: 1px solid #ECF0F1;
    padding: 0 10px;
    line-height: 32px;
    color: #555;
    font-size: 14px;
    margin: 0;
    outline: 0;
    font-family: "Segoe UI","Microsoft Yahei",Arial;
}
.checkLabel, .checkLabelN {
    display: block;
    text-align: left;
    padding-left: 30px;
    padding-right: 20px;
    word-wrap: break-word;
    font-size: 16px;
    color: #2ECC71;
    line-height: 1.8;
    cursor: pointer;
}
.checkLabel {
    position: relative;
    margin: 5px auto 15px;
    width: 250px;
    height: auto;
}
.checkbox, .checkboxN {
    -webkit-transition: border .2s ease;
    -webkit-appearance: none;
    top: 4px;
    left: 0;
    background-size: 100%;
    outline: 0;
}
.checkbox {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #2ECC71;
    cursor: pointer;
    background-image: url(../../../../img/check.png);
    background-position: 0 -19px;
    margin: 0;
}