@charset "UTF-8";

.bottom-wrap{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	z-index: 9999;

	background-color: #fff;
	.bottom-left,
	#rebate-buy{
		height: 50px;
		font-size: 1.6rem;
	}
	.bottom-left{
		width: 66.6666666666%;
		color: #666;
		line-height: 50px;
		border-top: 1px solid #d7d7d7;
	}
	#collect-btn,
	#share-btn{
		width: 50%;
		display: inline-block;
		text-align: center;
		height: 30px;
		line-height: 30px;
	}
	#collect-btn{
		border-right: 1px solid #d7d7d7;
		background: url(./img/collect.png) 22% 5px no-repeat;
		background-size: 18px;
	}
	#collect-btn.active{
		background: url(./img/collected.png) 22% 5px no-repeat;
		background-size: 18px;
	}
	#share-btn{
		background: url(./img/share.png) 22% 5px no-repeat;
		background-size: 18px;
	}
	#share-btn.active{
		background: url(./img/shared.png) 22% 5px no-repeat;
		background-size: 18px;
	}
	#rebate-buy{
		width: 33.3333333333%;
		line-height: 50px;
		color: #fff;
		background-color: #ff5e00;
		text-align: center;
	}

}